
.Chips-saya{
    margin: 10px 5px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    color: black;
    width: 100px;
    display: inline-flex;
}
.keywords-active{
    background-color :blue
}





