.signal-button{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px;
    border-radius: 35px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}
.color-primary{
    background-color: #ED0226;
    border: 2px solid #ED0226;
}
.color-secondary{
    background-color: #001A41;
    border: 2px solid #001A41;
}
.color-valid{
    background-color: #008E53;
    border: 2px solid #008E53;
}
.color-info{
    background-color: #0050AE;
    border: 2px solid #0050AE;
}
.color-warning{
    background-color: #FDA22B;
    border: 2px solid #FDA22B;
}
.variant-1.color-primary{
    background-color: #ED0226;
    color: #ffffff;    
}
.variant-1.color-secondary{
    background-color: #001A41;
    color: #ffffff;    
}
.variant-1.color-valid{
    background-color: #008E53;
    color: #ffffff;    
}
.variant-1.color-info{
    background-color: #0050AE;
    color: #ffffff;    
}
.variant-1.color-error{
    background-color: #DB2941;
    color: #ffffff;    
}
.variant-1.color-warning{
    background-color: #FDA22B;
    color: #ffffff;    
}
.variant-2.color-primary{
    border: 2px solid #ED0226;
    color: #ED0226;
    background-color: #ffffff;
}
.variant-2.color-secondary{
    border: 2px solid #001A41;
    color: #001A41;
    background-color: #ffffff;
}
.variant-2.color-valid{
    border: 2px solid #008E53;
    color: #008E53;
    background-color: #ffffff;   
}
.variant-2.color-info{
    border: 2px solid #0050AE;
    color: #0050AE;
    background-color: #ffffff;
    
}
.variant-2.color-warning{
    border: 2px solid #FDA22B;
    color: #FDA22B;
    background-color: #ffffff;
    
}

.size-small{
    font-size: 14px;
    width: 110px;
}
.size-medium{
    font-size: 16px;
    width: 125px;
}
.size-large{
    font-size: 18px;
    width: 150px;
}
.full-true{
    width: 100%;

}
.variant-1.disable-true {
    border: 2px solid #F5F6FA;
    color: #B3BAC6;
    background-color: #F5F6FA;
    cursor: not-allowed;
    pointer-events: none;
}

.variant-2.disable-true {
    border: 2px solid #F5F6FA;
    color: #B3BAC6;
    background-color: #F5F6FA;
    cursor: not-allowed;
    pointer-events: none;
}
