.button-saya{
  background-color: #FF0025;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  margin: 20px;
}

.button-saya:hover{
  background-color: white;
  color: #FF0025;
}

.mantul-gan{
    border: 1px solid #FF0025;
}